<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>crearCliente</servlet-name>
        <servlet-class>controlador.crearCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearProducto</servlet-name>
        <servlet-class>controlador.crearProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarCliente</servlet-name>
        <servlet-class>controlador.eliminarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarProducto</servlet-name>
        <servlet-class>controlador.eliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarModificarCliente</servlet-name>
        <servlet-class>controlador.buscarModificarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarModificarProducto</servlet-name>
        <servlet-class>controlador.buscarModificarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarCliente</servlet-name>
        <servlet-class>controlador.modificarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarProducto</servlet-name>
        <servlet-class>controlador.modificarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarCliente</servlet-name>
        <servlet-class>controlador.buscarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarProducto</servlet-name>
        <servlet-class>controlador.buscarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mostrarTodoCliente</servlet-name>
        <servlet-class>controlador.mostrarTodoCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mostrarTodoProducto</servlet-name>
        <servlet-class>controlador.mostrarTodoProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarCompra</servlet-name>
        <servlet-class>controlador.buscarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarModificarCompra</servlet-name>
        <servlet-class>controlador.buscarModificarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearCompra</servlet-name>
        <servlet-class>controlador.crearCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarCompra</servlet-name>
        <servlet-class>controlador.eliminarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarCompra</servlet-name>
        <servlet-class>controlador.modificarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mostrarTodoCompra</servlet-name>
        <servlet-class>controlador.mostrarTodoCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compraPaso1</servlet-name>
        <servlet-class>controlador.compraPaso1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compraPaso2</servlet-name>
        <servlet-class>controlador.compraPaso2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>crearCliente</servlet-name>
        <url-pattern>/crearCliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearProducto</servlet-name>
        <url-pattern>/crearProducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarCliente</servlet-name>
        <url-pattern>/eliminarCliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarProducto</servlet-name>
        <url-pattern>/eliminarProducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarModificarCliente</servlet-name>
        <url-pattern>/buscarModificarCliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarModificarProducto</servlet-name>
        <url-pattern>/buscarModificarProducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarCliente</servlet-name>
        <url-pattern>/modificarCliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarProducto</servlet-name>
        <url-pattern>/modificarProducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarCliente</servlet-name>
        <url-pattern>/buscarCliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarProducto</servlet-name>
        <url-pattern>/buscarProducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mostrarTodoCliente</servlet-name>
        <url-pattern>/mostrarTodoCliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mostrarTodoProducto</servlet-name>
        <url-pattern>/mostrarTodoProducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarCompra</servlet-name>
        <url-pattern>/buscarCompra.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarModificarCompra</servlet-name>
        <url-pattern>/buscarModificarCompra.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearCompra</servlet-name>
        <url-pattern>/crearCompra.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarCompra</servlet-name>
        <url-pattern>/eliminarCompra.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarCompra</servlet-name>
        <url-pattern>/modificarCompra.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mostrarTodoCompra</servlet-name>
        <url-pattern>/mostrarTodoCompra.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compraPaso1</servlet-name>
        <url-pattern>/compraPaso1.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compraPaso2</servlet-name>
        <url-pattern>/compraPaso2.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
